.movies-list {
  margin: 0;
  padding: 70px 0 30px;
  row-gap: 30px;
  column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  list-style: none;
}

.movies-list__not-foind {
  margin: 0;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  color: rgba(139, 139, 139, 1);
  display: none;
}

.movies-list__not-foind_active {
  display: block;
}

@media (max-width: 800px) {
  .movies-list {
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media (max-width: 620px) {
  .movies-list {
    padding-top: 40px;
    row-gap: 16px;
  }

  .movies-list__not-foind {
    font-size: 18px;
    line-height: 1.22;
  }
}