.profile {
  height: calc(100vh - 74px);
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding: 74px calc(50% - 205px) 70px;
  box-sizing: border-box;
  justify-content: space-between;
}

.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
  padding-bottom: 123px;
  text-align: center;
}

.profile__conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profile__input-conteiner {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
}

.profile__input-title {
  font-weight: 500;
  font-size: 11px;
  line-height: 1.19;
}

.profile__input {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.19;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(32, 32, 32, 1);
  border: none;
  text-align: right;
}

.profile__input::placeholder {
  color: rgba(255, 255, 255, 1);
}

.profile__error {
  position: absolute;
  left: 0;
  bottom: -13px;
  color: rgba(238, 52, 101, 1);
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  min-height: 12px;
  visibility: inherit;
}

.profile__error_active {
  position: absolute;
  visibility: visible;
}

.underline {
  border-bottom: 1px solid rgba(66, 66, 66, 1);
}

.profile__button {
  width: 100%;
  height: 45px;
  background-color: rgba(66, 133, 244, 1);
  border-radius: 3px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
  display: none;
}

.profile__button:hover {
  opacity: .8;
}

.profile__button_disabled {
  background-color: rgba(248, 248, 248, 1);
  color: rgba(194, 194, 194, 1);
}

.profile__button_disabled:hover {
  opacity: 1;
  cursor: inherit;
}

.profile__button_visible {
  display: inline;
}

.profile__conteiner-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.profile__conteiner-bottom_visible {
  display: flex;
}

.profile__edit {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  cursor: pointer;
}

.profile__edit:hover {
  opacity: .7;
}

.profile__exit {
  padding-top: 16px;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.23;
  color: rgba(238, 52, 101, 1);
  cursor: pointer;
  text-decoration: none;
}

.profile__exit:hover {
  opacity: .7;
}

@media (max-width: 800px) {
  /* .profile {
    padding-top: 236px;
  } */

  .profile__title {
    padding-bottom: 96px;
  }

  /* .profile__edit {
    padding-top: 210px;
  } */
}

@media (max-width: 620px) {
  .profile {
    padding: 74px calc(33.26% - 76.43px) 40px;
  }

  .profile__title {
    padding-bottom: 80px;
  }

  .profile__edit {
    /* padding-top: 379px; */
    font-size: 12px;
    line-height: 1.25;
  }

  .profile__exit {
    font-size: 12px;
    line-height: 1.25;
  }
}