.header {
  padding:  18px calc(7.81% - 30px);
  display: flex;
  justify-content: space-between;
}

.header-form {
  padding: 0 0 18px;
  display: flex;
}

.header__link-conteiner {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.header__link:hover {
  opacity: .7;
}

.header__link-button {
  background-color: rgba(61, 220, 132, 1);
  border-radius: 3px;
  border: none;
  color: rgba(0, 0, 0, 1);
  width: 76px;
  height: 32px;
  cursor: pointer;
}

.header__link-button:hover {
  opacity: .8;
}

@media (max-width: 800px) {
  .header {
    padding: 18px calc(3.57% + 2.57px);
  }
}

@media (max-width: 620px) {
  .header-form {
    justify-content: center;
  }
}