.filter {
  padding-top: 30px;
  padding-bottom: 49px;
  display: flex;
  gap: 12px;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.filter__togle {
  width: 36px;
  height: 20px;
  background-color: rgba(52, 52, 52, 1);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.filter__togle:hover {
  opacity: .8;
}

.filter__togle_active {
  background-color: rgba(43, 224, 128, 1);
}

.filter__togle-ring {
  width: 8px;
  height: 8px;
  background-color: rgba(160, 160, 160, 1);
  border-radius: 50%;
  position: absolute;
  left: 6px;
  top: 6px;
  transition: .3s;
}

.filter__togle-ring_active {
  transform: translateX(16px);
  transition: .3s;
  background-color: rgba(255, 255, 255, 1);
}

.filter__text-checkbox {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
}

@media (max-width: 620px) {
  .filter__text-checkbox {
    font-size: 11px;
    line-height: 1.64;
  }
}