.register {
  padding: 70px calc(50% - 198px);
  box-sizing: border-box;
  height: 100vh;
}

.register__logo {
  padding: 0 0 18px;
  display: flex;
}

@media (max-width: 800px) {
  .register {
    padding: 22.65vh calc(34.82% - 81.43px);
  }
}

@media (max-width: 620px) {
  .register__logo {
    justify-content: center;
  }
}